* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #100831;
  font-family: 'Arial', sans-serif;
}

#top-logo {
  width: 80px;
}

.navbar {
  border: 2px solid blueviolet;
  border-radius: 25px;
}

#top-heading {
  margin-top: 50px;
  padding: 0 10px;
  color: white;
  font-size: 6vw;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
}

#top-des {
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px 5px;
}

#top-brands img {
  width: 100px;
  margin: 10px;
}

#top-brands {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  #top-heading {
    font-size: 50px;
    padding: 0 100px;
  }

  #top-des {
    font-size: 20px;
    padding: 0 80px;
  }

  #top-brands img {
    width: 150px;
  }

  button {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  #top-heading {
    font-size: 70px;
    padding: 0 250px;
  }

  #top-des {
    font-size: 20px;
    padding: 0 200px;
  }

  #top-brands img {
    width: 180px;
  }
}


#access img{
  width: 140px;
}
